@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Domine:wght@400..700&family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap");

:root {
  --font-sans: "Mulish", sans-serif;
  --font-serif: "Domine", serif;
}
